:root {
    --prueba: rgba(157, 221, 96, 0.89);
    --amarillo: rgb(229, 255, 0);
    --menu: rgb(253, 185, 57);
    --azulTransp: rgba(0, 0, 206, 0.719);
    --blanco: rgb(255, 255, 255);
    --blancoTransp: rgba(255, 255, 255, 0.527);
    --verde: rgb(86, 230, 86);
    --verdeTransp: rgba(157, 221, 96, 0.89);
    --negro: rgb(0,0,0);
    --negroTransp: rgba(0, 0, 0, 0.616);
    --azulOscuro: rgb(7, 7, 114);
}

html {
    font-size: 62.5%;
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0%;
    background-image: url("../Recursos/Img/background_Bienvenida.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.scroll-xy-none{
    overflow: hidden;
}

header.contenedor{
    background-color: var(--menu);
    height: 5rem;
}

header a img{
    height: 5rem;
    width: 5rem;
    float: left;
    border-radius: 5rem;
}

header nav.flex-cont{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    height: 5rem;
}

header nav.flex-cont a{
    font-size: 2rem;
    font-weight: bold;
    line-height: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    height: 5rem;
    padding: 0rem 1rem;
}

header nav.flex-cont a:hover{
    background-color: var(--azulTransp);
    color: var(--blanco);
    stroke: var(--blanco);
}

header nav a svg{
    float: right;
}

/*--------------- ESTILOS DE "INDEX" ------------------*/

section.contenedor{
    padding: 5% 0% 0% 0%;
}

div h1{
    background-color: var(--azulTransp);
    color: var(--blanco);
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    padding: 4rem;
    margin: 0rem;
}

div.boton-comienza{
    position: relative;
    text-align: center;
    margin: 30rem 0%;
    ;
}

div.boton-comienza a{
    background-color: var(--verde);
    color: var(--negro);
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    border-radius: 2rem;
}

div.boton-comienza a:hover{
    background-color: var(--azulOscuro);
    color: var(--blanco);
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    border-radius: 2rem;
}

/*--------------- ESTILOS DE "INFORMACIÓN" ------------------*/

section.contenedor div.info{
    display: flex;
    padding: 5rem 0rem;
    align-items: center;
    justify-content: center;
}

section.contenedor div.info div.img-cont{
    height: 40rem;
    width: 65rem;
    background-color: var(--negroTransp);
    text-align: center;
}

section.contenedor div.info div img{
    height: 35rem;
    width: 60rem;
    padding: 2.5rem 0rem;
}

section.contenedor div.info div.contenido{
    background-color: var(--verdeTransp);
    height: 40rem;
    width: 65rem;
    position: sticky;
}

section.contenedor div.info div ul{
    font-size: 2rem;
    padding-left: 4rem;
    margin: 8rem 0rem;
    line-height: 4rem;
    justify-content: center;
}

/*--------------- ESTILOS DE "LOGIN/SIGNUP" ------------------*/

section.cont-login{
    display: flex;
    padding: 7.5rem 0rem;
    align-items: center;
    justify-content: center;
}

section.cont-login div.login{
    background-color: aquamarine;
    height: 55rem;
    width: 50rem;
}

section.cont-login h2{
    text-align: center;
    font-size: 3rem;
}

section.cont-login div.login form.login-form fieldset{
    border: 0rem;
    padding: 3rem 0.1rem;
}

section.cont-login div.login form.login-form fieldset div.camp{
    font-size: 1.5rem;
    line-height: 4rem;
}

section.cont-login div.login form.login-form fieldset div.camp label{
    display: block;
    float: left;
    width: 22.5rem;
}

section.cont-login div.login form.login-form fieldset a.boton-ingr,
section.cont-login div.login form.login-form fieldset a.boton-reg{
    display: block;
    line-height: 4rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    width: 15rem;
    background-color: var(--amarillo);
}

section.cont-login div.login form.login-form fieldset a.boton:hover{
    background-color: var(--azulOscuro);
    color: var(--blanco);
}

section.cont-login div.login form.login-form fieldset a.boton-ingr{
    margin: 25rem 12.5rem 2rem 12.5rem;
}

section.cont-login div.login form.login-form fieldset a.boton-reg{
    margin: 2rem 12.5rem;
}

/*--------------- ESTILOS DE "Footer" ------------------*/

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    background-color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
    margin: 0rem;
    padding: 1rem;
}